html {
    height: 100%;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
  }
  
  button {
    border: 1px solid #dd9e9e;
    padding: 25px 50px;
    color: rgb(241, 241, 241);
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
    background-color: rgb(38, 148, 51);
    cursor: pointer;
  }